<appSettings>
	<add key="pwsStationId" value="" />
	<add key="pwsStationUploadPassword" value="" />
	<add key="weatherFlowStationId" value="" />
	<add key="weatherFlowApiToken" value="" />
</appSettings>